h1 {
    font-family: Helvetica;
}
#header, #blog_header, #footer {
    max-width: 700px;
    margin: 40px auto;
}

#blog {
    max-width: 700px;
    margin: 40px auto;
    font-family: Georgia;
}
#blog h2 {
    margin-top: 13px;
}
#blog .date {
    padding-top:15px;
}
#blog .date a {
    color: #777;
    font-weight: bold;
    text-decoration: none;
    font-style:italic;
    font-size: 16px;

}
#blog p, #blog blockquote {
    font-size: 15px;
    line-height: 1.5em;
    color: #202020;
    margin-bottom: 26px;
}
#blog blockquote {
    font-style: italic;
}
.blog_post img {
    width: 600px;
}
.blog_post {
    margin-bottom:50px;
    padding: 10px;

    /* Make the posts in scrollable boxes */
    max-height: 550px;
    overflow: auto;

    border: 2px solid grey;
    border-radius: 7px;
}

.selected_post {
    border: 3px dotted blue;
    border-radius: 7px;
}